html {
  font-size: 18px;
  font-family: Helvetica;
}

header {
  height: 2.32rem;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container {
  width: 960px;
  display: flex;
  align-items: center;
  border: 1px white solid;
}

header .container img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

header .container p {
  color: white;
}

.background {
  height: 25rem;
  width: 100%;
  background-image: url("./images/background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.new-arrival-wrap {
  width: 960px;
  border: 2px white solid;
}

.new-arrival {
  width: 20rem;
  height: 12rem;
  margin-top: 9rem;
  background-color: black;
}

.text {
  font-weight: bold;
  color: white;
  padding-left: 3rem;
}

.new {
  padding-top: 2rem;
  padding-bottom: 0.25rem;
}

.sport {
  font-size: 2rem;
}

nav {
  height: 2.5rem;
  width: 100%;
  background-color: firebrick;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav p {
  color: white;
}
